# Created by venv; see https://docs.python.org/3/library/venv.html
# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files you don’t want to upload (optional)
data/*.zip
data/sample_submission.csv
data/test.csv
